.img-circle{
  height: 150px;
  box-shadow: 1px 1px 3px 0px rgba(176,176,176,1);
}

h2 {
  font-size: 20px;

}

.template {
  text-align: center;
  margin-top: 100px;
  height: 100px;
}

.template-love {
  font-size: 30px;
}

.list-inline {
  background-color: white;
  padding-bottom: 200px;
}

.fa-heart {
  color: #D23333;
}

a {
  color:#afaeae;
  font-size: 15px;
}
